StockpileName               BasesToSupply
Saltbrook Channel           55
Brackish Point              30
Tuatha Watchpost            10
Iron Junction               17
Watchful Nave               10
Scurvyshire                 0
Kneehaul                    0
Scuttletown                 0
Breakwater                  0
Dogbone                     0
Widow's Web                 0
Rising Loom                 0
Legion Ranch                0
Thetus Ring                 0
Patrida                     0
Mercy's Wall                0